<%= form_for(@poll_response) do |f| %>
  <% if @poll_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll_response.errors.count, "error") %> prohibited this poll_response from being saved:</h2>

      <ul>
      <% @poll_response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :candidate %><br />
    <%= f.select :candidate, ["Romney","Obama","Other"] %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, ["Male", "Female"] %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.select :location, ["Salem Township"," Harlan Township", "Hamilton Township"] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
